config
.project
.settings
.classpath
.cache
*.iml
*.iws
*.ipr
.gradle/
.idea/
build/
*/build/
out/
*/python/bin/
*/python/lib/
*/python/include/
*/bin/
bin
codegen/
*Generated*/
test-output/
*/.target
target
.target
*/target
logs
backend/api/bin
backend/server/bin
.cache
dist