@(cluster: com.linkedin.restsearch.Cluster, collapseColoVariants: Boolean = true)

@import com.linkedin.restsearch.template.utils.Conversions._

@defining(cluster.services(primaryOnly=collapseColoVariants)) { services =>
  @if(services.nonEmpty) {
    @services.sortWith(_.getKey() < _.getKey()).map { service =>
    <li>
      <a @if(service.hasResourceSchema && service.getResourceSchema.isScoped){class="text-muted"} href="@routes.Application.service(cluster.getName(), service.getKey())">/@service.getKey()@if(service.hasResourceSchema && service.getResourceSchema.isScoped){ @service.getResourceSchema.scope}</a>
      @defining(cluster.coloVariants(service)) { variants =>
        @if(collapseColoVariants && variants.nonEmpty) {
          <span class="text-muted">-
            <ul class="comma-separated">
              @variants.map { variant =>
                <li><a class="text-muted" href="@routes.Application.service(cluster.getName(), variant.getKey())">@variant.coloVariantSuffix</a></li>
              }
            </ul>
          </span>
        }
      }
      @Html(Application.subresources(cluster, service))
    </li>
    }
    }
  }