@(clusters: List[com.linkedin.restsearch.Cluster], metadata: com.linkedin.data.DataMap)

@import com.linkedin.restsearch.template.utils.Conversions._

@main("restli", includeNavSearch = false) {

<div class="row">
  <div class="col-lg-9">
    @freshness(metadata)

    @searchbox("")

    <br><br>

    @*<div class="alert alert-info">
      Post any news here.
    </div>*@

  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <h2>All Available Resources</h2>
    <hr>
    @if(clusters.size == 1) {
      @clusterservices(clusters(0))
    } else {
      @defining(clusters.filter(_.getName().size > 0).groupBy(_.getName().charAt(0).toUpper)) { groupedClusters =>
        <div class="js-masonry" data-masonry-options='{ "itemSelector": ".masonry-item", "columnWidth": 350 }'>
          @defining('A' to 'Z') { letters =>
            @letters.map { letter =>
              <span class="api-list" id="@letter"></span>
                @groupedClusters.get(letter).map { clusters =>
                  @clusters.map { cluster =>
                    @if(cluster.services(primaryOnly=true).nonEmpty) {
                      <div class="masonry-item thumbnail">
                        <div class="caption">
                          <h4>
                            @defining(cluster.coloVariants(clusters)) { variants =>
                              @if(variants.nonEmpty) {
                                <a href="@routes.Application.cluster(cluster.getName())">@cluster.canonicalColoVariantIdentifier</a>
                                <span class="text-muted">-
                                  <ul class="comma-separated">
                                    @variants.map { variant =>
                                    <li><a class="text-muted" href="@routes.Application.cluster(variant.getName())">@variant.coloVariantSuffix</a></li>
                                    }
                                  </ul>
                                </span>
                              } else {
                                <a href="@routes.Application.cluster(cluster.getName())">@cluster.getName()</a>
                              }
                            }
                          </h4>
                          @clusterservices(cluster)
                        </div>
                      </div>
                    }
                  }
                }
              }
            }
        </div>
      }
    }

  </div>
</div>

<script type="text/javascript" src="@routes.Assets.at("javascripts/clusterlist.js")"></script>
}