@(dataSchema: com.linkedin.data.schema.DataSchema, typeRenderer: com.linkedin.restsearch.utils.TypeRenderer)
@import com.linkedin.data.schema._
@import scala.collection.JavaConversions._
@import com.linkedin.data.DataMap

@dataSchema match {
  case dataSchema: RecordDataSchema => {
    <table class="table table-condensed table-hover">
      <thead>
        <tr>
          <th>Field Name</th>
          <th>Type</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        @dataSchema.getFields().sortBy(_.getName.toLowerCase).map { field =>
          <tr>
            <td>
              <span @if(field.getProperties().contains("deprecated")){style="text-decoration:line-through"}>@field.getName</span>
            </td>
            <td>
              @if(field.getOptional()){ optional }
              @Html(typeRenderer.schemaToHtml(field.getType()))@if(field.getDefault() != null){, default="@field.getDefault()"}
            </td>
            <td>
              @if(field.getProperties().contains("deprecated")){
                @field.getProperties().get("deprecated") match {
                    case deprecated: String => {
                      <span class="label label-danger">Deprecated!</span> @deprecated
                    }
                    case deprecated: java.lang.Boolean if (deprecated == true) => {
                      <span class="label label-danger">Deprecated!</span>
                    }
                    case _ => {}
                  }
              }
              <ul class="list-unstyled">
                <li>@Html(field.getDoc())</li>
              </ul>
            </td>
          </tr>
        }
      </tbody>
    </table>
  }
  case typeref: TyperefDataSchema => {
    <h4>Typeref</h4>
    <h6>Reference Type: @typeref.getDereferencedType()</h6>
  }
  case enum: EnumDataSchema => {
    <h4>Enum</h4>
    <table class="table table-condensed table-hover">
      <thead>
        <tr>
          <th>Symbol</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        @enum.getSymbols().map { symbol =>
          <tr>
            <td>
              @enum.getProperties().get("deprecatedSymbols") match {
                case deprecatedSymbols: DataMap => {
                  @deprecatedSymbols.get(symbol) match {
                    case deprecated: String => {
                     <span style="text-decoration:line-through">@symbol</span>
                     <span class="label label-danger">Deprecated!</span> @deprecated
                    }
                    case deprecated: java.lang.Boolean if (deprecated == true) => {
                      <span style="text-decoration:line-through">@symbol</span>
                      <span class="label label-danger">Deprecated!</span>
                    }
                    case _ => {@symbol}
                  }
                }
                case _ => {@symbol}
              }
            </td>
            <td>
              @if(enum.getSymbolDocs.containsKey(symbol)){@enum.getSymbolDocs.get(symbol)}
            </td>
          </tr>
        }
      </tbody>
    </table>
  }
  case _ => {}
}
