@(service: com.linkedin.restsearch.Service, provenance: com.linkedin.restsearch.Provenance)


  @stripPackage(fullyQualifiedName: String) = @{
  fullyQualifiedName.split("\\.").lastOption getOrElse(fullyQualifiedName)
}


@defining(provenance.getRestClient) { restClientCoords =>
  @defining(stripPackage(restClientCoords.getOrg)) { projectName =>

<div class="col-lg-5">
  <div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">Dependency Management</h3></div>
    <div class="panel-body">
    <p>Java Client Bindings</p>
    <pre style="font-size: smaller;">
"@projectName": {
  "restClient": {
    "version": "@@spec.product.@(projectName).version@@",
    "group": "@restClientCoords.getOrg",
    "name": "@restClientCoords.getName"@if(restClientCoords.hasConf){,
    "configuration": "@restClientCoords.getConf"}
  },
  "version": "{get latest using: `mint describe ...`}"
}</pre>
    <p class="text-right"><a href="#artifact-coords" data-toggle="modal">See more »</a></p>
    </div>
  </div>
</div>

  }
}

@*<p><a role="button" class="btn btn-primary" href="#source-code" data-toggle="modal">Source Code</a></p>*@
<div id="artifact-coords" class="modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Adding Java Client dependency</h3>
      </div>
      <div class="modal-body">
<ul>
  @defining(provenance.getRestClient) { restClientCoords =>
    @defining(stripPackage(restClientCoords.getOrg)) { projectName =>
      <p>To call this resource, first add it as a dependency.  Start by adding it's rest client artifact to product-spec.json, then to either your build.gradle or build.xml.</p>
      <h4>product-spec.json MP format</h4>
<pre style="font-size: smaller;">
...
"product": {
...
"@projectName": {
  "restClient": {
  "version": "@@spec.product.@(projectName).version@@",
    "group": "@restClientCoords.getOrg",
    "name": "@restClientCoords.getName"@if(restClientCoords.hasConf){,
    "configuration": "@restClientCoords.getConf"}
  },
  "version": "{get latest using: `mint describe ...`}"
  }
}
</pre>
<p><span class="label label-warning">Warning!</span> This version number may be out of date.  We recommending checking with artifactory when selecting version numbers.</p>

<h4>product-spec.json network format</h4>
<pre style="font-size: smaller;">
...
"product": {
...
"@projectName": {
  "libraries": [
    {@if(restClientCoords.hasConf){
      "key": "restClient",
      "configuration": "@restClientCoords.getConf",
      "name": "@restClientCoords.getName"} else {
      "@restClientCoords.getName"
}
    }
  ],
  "version": "{get latest using: `mint describe ...`}"
  }
}
</pre>
<p><span class="label label-warning">Warning!</span> This version number may be out of date.  We recommending checking with artifactory when selecting version numbers.</p>

<h4>build.gradle</h4>
<pre style="font-size: smaller;">
dependencies {
  ...
  compile spec.product.@(if(projectName.contains("-")){"'"+projectName+"'"}else{projectName}).restClient
}
</pre>
<h4>build.xml</h4>
<pre style="font-size: smaller;">
&lt;dependency org="@restClientCoords.getOrg"
  name="@restClientCoords.getName"@if(restClientCoords.hasConf){
  conf="@restClientCoords.getConf"}/&gt;
</pre>
<p>
  Once the dependency is added you should be able to use the methods on the builders class for the resource to construct requests.
</p>
<h4>Build.scala</h4>
  For SBT, put this in your product-spec.json:
<pre style="font-size: smaller;">
...
"product": {
  ...
  "@projectName": {
    "@restClientCoords.getName": {
      "version": "@@spec.product.@(projectName).version@@",
      "group": "@restClientCoords.getOrg",
      "name": "@restClientCoords.getName"
    },
    "version": "{get latest using: `mint describe ...`}"
  }
}
</pre>

And add the dependency in your Build.scala:

<pre style="font-size: smaller;">SafeProductSpecDependencies(new ProductSpecConf("compile->restClient", "spec.product.@(projectName).@(restClientCoords.getName)"))
</pre>
    <h4>Java Code</h4>
<pre style="font-size: smaller;">new @(service.getKey.replace("/","").capitalize + "Builders")()
</pre>
          <p>
            See <a href="https://iwww.corp.linkedin.com/wiki/cf/display/ENGS/Rest.li+Client+Quickstart">the Rest.li client quickstart guide</a> for additional documentation.
          </p>
            }
            }
          </ul>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
      </div> @* modal-content *@
  </div> @* modal-dialog *@
</div> @* modal *@

<div id="source-code" class="modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Source Code</h3>
      </div>
      <div class="modal-body">
        @if(provenance.hasSourceClass) {
          <h3>Class</h3>
          <p>
            <a href="@ExternalSites.createViewvcUrl(provenance.getResource, provenance.getSourceClass)">@provenance.getSourceClass</a>
          </p>
          <h3>Artifactory Coordinates</h3>
          <p>
            @defining(provenance.getResource) { resourceCoords =>
                @resourceCoords.getOrg:@resourceCoords.getName:@resourceCoords.getRev
            }
          </p>
        }
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
    </div> @* modal-content *@
  </div> @* modal-dialog *@
</div> @* modal *@