@(cluster: com.linkedin.restsearch.Cluster, service: com.linkedin.restsearch.Service, modelJsonRaw: String, dataSchema: com.linkedin.data.schema.NamedDataSchema, typeRenderer: com.linkedin.restsearch.html.TypeRenderer)
@import scala.collection.JavaConversions._
@import com.linkedin.data.schema._

@main("go/restli: " + dataSchema.getName) {
  <ul class="breadcrumb">
    <li><a href="@routes.Application.cluster(cluster.getName())">@cluster.getName() Cluster</a> <span class="divider"></span></li>
    <li><a href="@routes.Application.service(cluster.getName(), service.getKey())">@service.getKey() Resource</a> <span class="divider"></span></li>
    <li class="active">@dataSchema.getName Model</li>
  </ul>
  
  <div class="pull-right">
    <p><a role="button" class="btn btn-link" href="@ExternalSites.createUrlToRestdocsModel(cluster, dataSchema.getFullName)">Model Documentation</a></p>
  </div>
  
  <h2 @if(dataSchema.getProperties().contains("deprecated")){style="text-decoration:line-through"}>@dataSchema.getName</h2>

  @if(dataSchema.getProperties().contains("deprecated")){
    <div class="alert alert-danger">
      <b>Deprecated!</b>
      @dataSchema.getProperties().get("deprecated") match {
        case deprecated: String => {
          @deprecated
        }
        case _ => {}
      }
    </div>
  }

  @dataSchema match {
    case named: NamedDataSchema => { 
      <p>@Html(named.getDoc())</p>
    }
  }
  
   
  <ul id="model-tabs" class="nav nav-tabs">
    <li><a id="fields-tab" href="#fields-view" data-toggle="tab">Structure</a></li>
    <li><a id="json-tab" href="#json-schema-view" data-toggle="tab">JSON Schema</a></li>
  </ul>

  <div id="model-tab-content" class="tab-content">
    <div class="tab-pane" id="fields-view">
      @dataschematable(dataSchema, typeRenderer)
    </div>
    <div class="tab-pane" id="json-schema-view">
      <pre class="prettyprint lang-js">@modelJsonRaw</pre>
    </div>
  </div>
   
  <script type="text/javascript" src="@routes.Assets.at("javascripts/modeldetails.js")"></script>
}