@(d2Service: com.linkedin.d2.D2Service, createdAt: Long, modifiedAt: Option[Long])

@import org.joda.time.DateTime
@import com.linkedin.data.template.StringArray

<button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#d2-service-properties-modal">
  D2 Service Properties
</button>

<div class="modal fade" id="d2-service-properties-modal" tabindex="-1" role="dialog" aria-labelledby="d2-service-properties-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">D2 Service Properties</h4>
        <a href="https://iwww.corp.linkedin.com/wiki/cf/display/ENGS/D2+User+Manual#D2UserManual-Zookeeperdatalayout.Allthepropertykeysandabriefdescription." target="_blank">Properties Documentation</a>
        <div class="text-muted pull-right">
          <small>
            D2 info for resource created
            @(new DateTime(createdAt).toLocalDate().toString("MMM d, y"))@if(modifiedAt != None){,
              last modified
            @(new DateTime(modifiedAt.get).toLocalDate().toString("MMM d, y"))
          }
          </small>
        </div>
      </div>
      <div class="modal-body">
        @if(d2Service.hasBannedUris && d2Service.getBannedUris.nonEmpty) {
          <div class="padded">
            @displayBannedUris(d2Service.getBannedUris)
          </div>
        }
        @if(d2Service.hasDegraderProperties) {
          <div class="padded">
            @d2PropertiesTable("Degrader Property", d2Service.getDegraderProperties().data())
          </div>
        }
        @if(d2Service.hasLoadBalancerStrategyList) {
          <div class="padded">
            @displayLoadBalancerStrategies(d2Service.getLoadBalancerStrategyList())
          </div>
        }
        @if(d2Service.hasLoadBalancerStrategyProperties) {
          <div class="padded">
            @d2PropertiesTable("Load Balancer Property", d2Service.getLoadBalancerStrategyProperties.data())
          </div>
        }
        @if(d2Service.hasPrioritizedSchemes) {
          <div class="padded">
            @displaySchemes(d2Service.getPrioritizedSchemes)
          </div>
        }
        @if(d2Service.hasTransportClientProperties) {
          <div class="padded">
            @d2PropertiesTable("Transport Client Property", d2Service.getTransportClientProperties.data())
          </div>
        }
        @if(d2Service.hasServiceMetadataProperties) {
          <div class="padded">
            @d2PropertiesTable("Metadata Property", d2Service.getServiceMetadataProperties.data())
          </div>
        }
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

@displayLoadBalancerStrategies(strategies: com.linkedin.d2.LoadBalancerStrategyTypeArray) = {
  <b>Load Balancer Strategies: </b>
  @strategies.map { strategy =>
    @(strategy + " ")
  }
}

@displaySchemes(schemes: com.linkedin.d2.SchemeArray) = {
  <b>Prioritized schemes: </b>
  @schemes.map { scheme =>
    @(scheme + " ")
  }
}

@displayBannedUris(uris: StringArray) = {
  <b>Banned URIs: </b>
  @uris.map { uri =>
    @(uri + " ")
  }
}
