@(errors: Map[String, String], metadata: com.linkedin.data.DataMap)


  @main("restli: Errors", includeNavSearch = true) {
  <div class="row">
    <div class="col-lg-9">
      @freshness(metadata)

      <div>
        <table class="table table-condensed table-hover">
          <thead>
            <tr>
              <th>Resource</th>
              <th>Error</th>
            </tr>
          </thead>
          <tbody>
          @errors.map { case (errorKey, errorMessage) =>
            <tr><td>/@errorKey</td><td>@errorMessage</td></tr>
          }
          </tbody>
        </table>
      </div>
    </div>
  </div>
}