@(csrfProvider: com.linkedin.restsearch.security.CsrfProvider)(implicit request: play.api.mvc.RequestHeader)

@main("restli: upload") {

  <div class="container">
    <div class="row">
      <div class="col-lg-9">
        <div>
          <h2>Create permlink from a snapshot.json file</h2>

          <p>
            Upload a snapshot.json here to create a fully rendered permlink for it.
          </p>
        </div>

        <div>
          <form class="form-inline" role="form"
            enctype="multipart/form-data"
            action="@routes.Application.upload"
            method="post">
            @csrfProvider.getToken(request).map { token =>
              <input type="hidden" name="csrfToken" value="@token"/>
            }
            <div class="form-group">
              <input type="file" name="snapshot" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Create permlink</button>
          </form>
        </div>

        <p>
          Snapshot files are located in the source directories of api modules after they are built
          (e.g. <code>gradle build</code> or <code>gradle publishRestliSnapshot</code>).  This is usually
          <code>{api-project}/src/main/snapshot</code>.
        </p>
      </div>
    </div>
  </div>
}